*colour-nord0: 2e3440
*colour-nord1: 3b4252
*colour-nord2: 434c5e
*colour-nord3: 4c566a
*colour-nord-my-midgrey: 839496
*colour-nord4: d8dee9
*colour-nord5: e5e9f0
*colour-nord6: eceff4
*colour-nord7: 8fbcbb
*colour-nord8: 88c0d0
*colour-nord9: 81a1c1
*colour-nord10: 5e81ac
*colour-nord11: bf616a
*colour-nord12: d08770
*colour-nord13: ebcb8b
*colour-nord14: a3be8c
*colour-nord15: b48ead
